#### ENV VALUES
ENV_VERSION=0.1
ENV_DATE=2026-08-14

#### APP
APP_NAME=
COMPANY_DOMAIN=
APP_PORT=
FALLBACK_LANGUAGE=
ADMIN_ACCOUNT=
ADMIN_PASS=
URL_DOMAIN=
USE_AUTO_AUTH_PLUGIN=
## CRYPTO
ENCRYPTION_KEY=

#### MAIL
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=
RESET_KEY=

#### Config
INVITE_EXPIRATION=
TWO_FA_EXPIRATION=

#### JWT
JWT_GLOBAL=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

#### PostgreSQL
# Docker
POSTGRESQL_DOCKER_USER=
POSTGRESQL_DOCKER_ROOT_PASSWORD=
POSTGRESQL_DOCKER_PORT=

# Modules
BBDD_CONNECTION=
BBDD_HOST=
BBDD_SYNCHRONIZE=
BBDD_SSL=

#### Redis
REDIS_HOST=
REDIS_PORT=